# Maven
target/
**/target/

build/
**/build/

*.log
logs/
**/logs/

.env
*.env

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.class
*.swp
*.swo

.DS_Store
Thumbs.db

*~
*.bak
*.tmp

test-output/
build-reports/
out/
